<html>
	<head>
		<!-- collection of general dependencies -->
		<script type="text/javascript" src="javascripts/lib/jquery.js"></script>
		<script type="text/javascript" src="javascripts/lib/json2.js"></script>
		<script type="text/javascript" src="javascripts/lib/underscore.js"></script>
		<script type="text/javascript" src="javascripts/lib/backbone.js"></script>

		<!-- pwmckenna/btapp submodule -->
		<script type="text/javascript" src="javascripts/btapp/btapp.js"></script>
		<script type="text/javascript" src="javascripts/btapp/client.btapp.js"></script>
		<script type="text/javascript" src="javascripts/btapp/plugin.btapp.js"></script>
		<script type="text/javascript" src="javascripts/btapp/pairing.btapp.js"></script>
		<!-- pwmckenna/jStorage submodule -->
		<script type="text/javascript" src="javascripts/jStorage/jstorage.min.js"></script>


		<script type="text/javascript" src="javascripts/application.js"></script>
	</head>
	<body>
		<!-- TEMPLATES! -->
		<script type="text/template" id="allocation_template">
			<div>
				<span><%= id %></span><br>
				<span><%= allocations %></span>
			</div>
		</script>
		<div id="SoShare" style="color:white; background-color:black;">
			<div id="time"></div>
			<div id="diffs" style="color: black; background-color:yellow;"></div>
			<div id="allocations"></div>
		</div>
		<div id="BitTorrent" style="color:white; background-color:purple;">
			<div id="time"></div>
			<div id="diffs" style="color: black; background-color:yellow;"></div>
			<div id="allocations"></div>
		</div>
		<div id="uTorrent" style="color:white; background-color:green;">
			<div id="time"></div>
			<div id="diffs" style="color: black; background-color:yellow;"></div>
			<div id="allocations"></div>
		</div>
	</body>
</html>
